/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/compiled
/resources/public/js/advanced
/resources/public/js/app.js
/out
/.repl
*.log
*.log.*

resources/public/js/out.js.map

resources/public/js/app.js.map
.DS_Store