/*h1 {
  text-decoration: underline;
}
*/

.page-header { 
	text-align: "center";
}

.job-entry {
	font-size: 10px;
}

/*.selected-job {
	background-color: "lightblue";
}*/

.unselectable 
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
