body {
    background-image: url("/img/crossword.png");
}

.page-header { 
	text-align: "center";
}

.main-header {
    text-align: "left";
    margin-left: 75px;
}

.job-entry {
	font-size: 7px;
}

.uuid {
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

.unselectable 
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.panel-primary > .panel-heading {
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    color: #000;
}

.panel-primary {
    border-color: #F5F5F5;
    border-width: 1px;
}

.panel-heading h4 {
    font-size: 16px;
    margin: 0;
}

.panel-heading {
    padding: 10px;
}

.left-nav-deployment {
    margin-bottom: 20px;
}

.job-selector {
    margin-bottom: 0px;
    font-size: 8pt;
}

.modal {
	display: block;
}

body {
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

svg {
  border: 0px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
}

pre {
  border: 1px solid #ccc;
}
